/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#container {
  align-items: center;
  height: 56px;
}

.icon {
  min-width: 48px;
}

.dot {
  background-color: var(--google-grey-500);
  border-radius: 50%;
  height: 8px;
  margin-left: 8px;
  width: 8px;
}

#active-icon {
  height: 24px;
  width: 24px;
}

#completed-icon {
  color: var(--google-blue-600);
}

#default-icon[active],
#default-icon[completed],
#active-icon,
#completed-icon {
  display: none;
}

#active-icon[active],
#completed-icon[completed] {
  display: block;
}

#entry-text {
  font-size: 15px;
}

#active-text {
  color: black;
}

#active-text,
#completed-text {
  display: none;
}

#active-text[active],
#completed-text[completed] {
  display: block;
}
