{
  "name": "com.google.chrome.remote_desktop",
  "description": "{{ ME2ME_HOST_DESCRIPTION }}",
  "type": "stdio",
  "path": "{{ ME2ME_HOST_PATH }}",
  "allowed_extensions": [
    "remotedesktop@google.com"
  ]
}
