__pycache__
.firebase
.gclient_entries
*.pyc
*.swo
*.swp

build
firebase.json
infra/.recipe_deps
node_modules
node_modules.tar.gz
originals.tar.gz
third_party/node/linux/node-linux-x64
third_party/node/linux/node-linux-x64.tar.gz
third_party/node/mac/node-darwin-x64
third_party/node/mac/node-darwin-x64.tar.gz
third_party/node/win/node.exe
