{
  "name": "com.google.chrome.remote_assistance",
  "description": "{{ IT2ME_HOST_DESCRIPTION }}",
  "type": "stdio",
  "path": "{{ IT2ME_HOST_PATH }}",
  "allowed_extensions": [
    "remotedesktop@google.com"
  ]
}
